<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<script type="text/javascript">
 	function fn_mod_act(){ 		
		document.frm.submit(); /* id가 아닌 name으로 전송할 때, frm은 form의 네임!*/
	} 
</script>

<body>


EMP_MOD
<form action="emp_mod_act" method="post" name="frm">
{% csrf_token %}
	<table border="1">
		<tr>
			<td>사번</td>
			<td><input type="text" name="e_id" value="{{vo.e_id}}"></td>
		</tr>
		
		<tr>
			<td>이름</td>
			<td><input type="text" name="e_name" value="{{vo.e_name}}"></td>
		</tr>
		
		<tr>
			<td>성별</td>
			<td><input type="text" name="gen" value="{{vo.gen}}"></td>
		</tr>
	
		<tr>
			<td>주소</td>
			<td><input type="text" name="addr" value="{{vo.addr}}"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="저장" onclick="fn_mod_act()">
			</td>
		</tr>					
	
	
	</table>
</form>
</body>
</html>