doctype html
html
  head
    meta(charset="UTF-8")
    style(type="text/css").
      table{
      text-align: center;
      }
    title PUG
  body
    table
      tr
        td 사번
        td 이름
        td 성별
        td 주소
      tr
        td 1
        td 1
        td 1
        td 1