<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script>
 	var cnt = "<%=cnt%>";
 	if(cnt == 0){
 		alert("저장에 실패했습니다");
 		histroy.back();
 	}
	alert("저장이 완료되었습니다");
	location.href="emp_list";
</script>


</body>
</html>